<table id="arbitrage-table">
  <thead>
    <tr>
    <th>Symbol</th>
    <% headers = @arbitrage.result.first[1].keys %>
    <% headers.each do |header| %>
      <th> <%= header.humanize  %> </th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% @arbitrage.result.each do |pair, prices| %>
    <tr>
      <td><%= pair %></td>
      <% prices.values.each do |price| %>
        <td><%= price %></td>
      <% end %>
    </tr>
  <%end%>
  </tbody>
</table>
