<table>
  <thead>
    <tr>
    <th>Пара</th>
    <th>Yobit</th>
    <th>Binance</th>
    <th>Разница</th>
  </tr>
  </thead>
  <tbody>
  <% @arbitrage.result.each do |pair, prices| %>
    <tr>
      <td><%= pair %></td>
      <td><%= prices[:yobit] %></td>
      <td><%= prices[:binance] %></td>
      <td><%= prices[:diffrence] %></td>
    </tr>
  <%end%>
  </tbody>
</table>
